<template>
    <section class="container-fluid">
      <!-- <router-link class="link" to="/login">Login</router-link>
      <router-link class="link" to="/signup">Sign Up</router-link> -->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="login-panel bg-white text-left">
                    <!-- <div class="alert alert-primary" role="alert" :style="{opacity: isAlertShow ? 1 : 0}">
                        Login successfully. <small>waiting for redirect.</small>
                        <loader-component width="30"></loader-component>
                    </div> -->
                    <h1 class="display-3 font-weight-bold">Login</h1>
                    <!-- <p class="font-weight-bold">Welcome back</p> -->
                    <br>
                    <div>
                        <div class="form-group">
                            <label class="input-label">Email</label>
                            <input type="email" class="form-control" placeholder="Email" v-model="email">
                        </div>
                        <div class="form-group">
                            <label class="input-label">Password</label>
                            <input type="password" class="form-control" placeholder="Password" v-model="password">
                        </div>
                        <br>
                        <div class="form-group d-flex justify-content-center">
                            <button class="btn btn-primary w-25" id="login" @click.prevent="login" v-if="!isLoggingIn">Login</button>
                            <!-- <button class="btn btn-primary w-25" disabled @click.prevent="login" v-if="isLoggingIn"><loader-component width="30"></loader-component></button> -->
                        </div>
                        <div>{{error}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
// import LoaderComponent from '../components/LoadingComponent'
// import { setTimeout } from 'timers';
// import swal from 'sweetalert2';
// import axios from 'axios'
export default {
    // components: { LoaderComponent },
    data() {
        return {
            // isLoggingIn: false,
            // isAlertShow: false,
            email:'',
            password: '',
            // error: ''
        }
    },
    methods: {
        login() {
            // let user = {
            //   email: this.email,
            //   password: this.password
            // }
            this.$store.dispatch('auth/authenticate',
                        { 'email': this.email,
                          'password': this.password,
                          'strategy': 'local' }).then((response)=>{

                            console.log("login is done",response);
                             this.$router.push('/home')
                          }).catch((error)=>{
                            console.log(error);
                          })
          //   axios.post('http://localhost:8081/login',user).then(res => {
          //     if(res.status===200) {
          //         console.log(res);
          //         this.error = res.data.title;
          //         localStorage.setItem('token',res.data.token);
          //         this.$router.push('/dashboard')
          //     }
          //
          //   },err => {
          //     console.log(err.response);
          //     if(err.response.data.title === 'user not found') {
          //       swal.fire({  text: 'User is not found!',
          //           icon: 'warning',})
          //     }
          //     else if(err.response.data.title === 'login failed') {
          //       swal.fire({
          //         text: 'email/password are not matched',
          //         icon: 'warning'
          //       })
          //     }
          //   }
          // )
            // this.isLoggingIn = true
            // setTimeout(() => {
            //     this.isLoggingIn = false
            //     this.isAlertShow = true
            //     setTimeout(() => this.redirect(), 1000)
            // }, 1000)
        },
        // redirect() {
        //     this.$router.push('/dashboard')
        // }
    }
}
</script>

<style lang="scss">
// .widget {
//     margin: 0;
//     height: unset;
// }
// .login-panel {
//     position: relative;
//     padding: 200px 0;
//     .alert {
//         opacity: 0;
//         position: absolute;
//         width: 100%;
//         top: 100px;
//         transition: all .5s;
//         &.alert-primary {
//             background-color: #007BFF;
//             color: #fff;
//             font-size: 18px;
//             border: none;
//         }
//         .widget {
//             position: absolute;
//             right: 5px;
//             top: 0;
//             margin: 10px;
//         }
//     }
// }
</style>



<!-- <template>
  <div>
    <vs-input
        v-validate="'required|email'"
        name="email"
        icon-no-border
        icon="icon icon-user"
        icon-pack="feather"
        label-placeholder="Email"
        v-model="email"
        size="large"
        class="w-full"/>
  <span class="text-danger text-sm" v-show="errors.has('email')">{{ errors.first('email') }}</span>

    <vs-input
        v-validate="'required'"
        type="password"
        name="password"
        icon-no-border
        icon="icon icon-lock"
        icon-pack="feather"
        label-placeholder="Password"
        size="large"
        @keyup.enter.native="loginJWT"
        v-model="password"
        class="w-full mt-6" />
    <span class="text-danger text-sm">{{ errors.first('password') }}</span>

    <div class="flex flex-wrap justify-between my-5">
        <vs-checkbox v-model="checkbox_remember_me" class="mb-3">Remember Me</vs-checkbox>
        <router-link to="/pages/forgot-password">Forgot Password?</router-link>
        <vs-button id="alert" :disabled="!validateForm" @click="loginJWT">Login</vs-button>

    </div>
    <div class="flex flex-wrap justify-between float-md-right">
      <router-link to="/apps/user/userAccessRequest"  style="text-decorations:none; color:inherit!important;">Request Access</router-link>
      <vs-button  type="border" @click="registerUser">Register</vs-button>
      <vs-button :disabled="!validateForm" @click="loginJWT">Login</vs-button>
    </div>
    </div>
</template> -->


// import Cookies from "js-cookie";
// export default {
//   data () {
//     return {
//       // email: 'admin@admin.com',
//       // password: 'adminadmin',
//       email: '',
//       password: '',
//       error: ' ',
//       loginError: false,
//       checkbox_remember_me: false
//     }
//   },
//   mounted: async function () {
//     //this.error = false
//     // this.$store.commit({
//     //   type: 'setCurrentUserPage',
//     //   page: 'signin'
//     // })
//     // this.$store.state.auth.errorOnAuthenticate = false
//     var jwt = localStorage.getItem('feathers-jwt')
//       if(jwt) {
//         try {
//           await this.logout()
//         } catch(err) {
//           console.log("Error in logging out")
//         }
//       }
//     console.log("Query parrams= " + JSON.stringify(this.$route.query))
//   },
//   computed: {
//     validateForm () {
//       return !this.errors.any() && this.email !== "" && this.password !== ""
//     }
//   },
//   watch:{
//     // email:function(){
//     //   if(this.email!=""){
//     //     this.errors.items = []
//     //   }
//     // },
//     // password:function(){
//     //   if(this.password !=""){
//     //     this.errors.items = []
//     //   }
//     // }
//   },
//   methods: {
//     checkLogin () {
//       // If user is already logged in notify
//       if (this.$store.state.auth.isUserLoggedIn()) {
//
//         // Close animation if passed as payload
//         // this.$vs.loading.close()
//
//         this.$vs.notify({
//           title: 'Login Attempt',
//           text: 'You are already logged in!',
//           iconPack: 'feather',
//           icon: 'icon-alert-circle',
//           color: 'warning'
//         })
//
//         return false
//       }
//       return true
//     },
//     async loginJWT () {
//       var comp = this;
//       //if (!this.checkLogin()) return
//
//       // Loading
//       this.$vs.loading()
//       var jwt = localStorage.getItem('feathers-jwt')
//         if(jwt) {
//           try {
//             await comp.logout()
//           } catch(err) {
//             console.log("Error in logging out")
//           }
//         }
//         this.$store.dispatch('auth/authenticate',
//             { 'email': this.email,
//               'password': this.password,
//               'strategy': 'local' }).then((response) =>{
//                 this.$vs.loading.close()
//                 console.log("login is done");
//                 console.log("logged in user = "+JSON.stringify(response.user));
//                 comp.loginError = false;
//                 var jwt = localStorage.getItem("feathers-jwt");
//                 localStorage.setItem('accessToken', jwt)
//                 comp.$store.commit({ type: "setCurrentUser", user: response.user });
//                 console.log("currentUser = "+JSON.stringify(this.currentUser));
//                 console.log("Token =" + jwt);
//                 setTimeout(() => {
//                 comp.setCookie('radiologylms-jwt', jwt, 1)
//               },1000)
//               if(comp.$route.query && comp.$route.query.nextUrl) {
//                 comp.$router.push(comp.$route.query.nextUrl)
//                 return
//               }
//               if(response.user.userType ==="SUPERADMIN"){
//                 comp.$router.push("/apps/user/user-list");
//               }
//               else if (response.user.userType ==="NORMAL") {
//                 console.log("user type ="+JSON.stringify(response.user.userType));
//                 comp.$router.push("/apps/user/exams");
//               }else {
//                 console.log("user type ="+JSON.stringify(response.user.userType));
//                 comp.$router.push("/exams");
//               }
//               })
//               .catch((error) =>{
//                 this.$vs.loading.close()
//                 console.log('Error' + JSON.stringify(error))
//                 this.$vs.notify({
//                   title: 'Login Faild',
//                   text: error.message,
//                   iconPack: 'feather',
//                   icon: 'icon-alert-circle',
//                   color: 'warning'
//                 })
//                 comp.error = error.message;
//                 comp.loginError = true;
//               })
//
//       // const payload = {
//       //   checkbox_remember_me: this.checkbox_remember_me,
//       //   userDetails: {
//       //     email: this.email,
//       //     password: this.password
//       //   }
//       // }
//       //
//       // this.$store.dispatch('auth/loginJWT', payload)
//       //   .then(() => { this.$vs.loading.close() })
//       //   .catch(error => {
//       //     this.$vs.loading.close()
//       //     this.$vs.notify({
//       //       title: 'Error',
//       //       text: error.message,
//       //       iconPack: 'feather',
//       //       icon: 'icon-alert-circle',
//       //       color: 'danger'
//       //     })
//       //   })
//     },
//     async logout () {
//         // var comp = this;
//         await this.$store.dispatch('auth/logout')
//         Cookies.remove('lyfebin-jwt')
//     },
//     // registerUser () {
//     //   if (!this.checkLogin()) return
//     //   this.$router.push('/pages/register').catch(() => {})
//     // },
//     setCookie(cname, cvalue, exdays) {
//       Cookies.remove(cname);
//       Cookies.set(cname, cvalue, { expires: exdays });
//     }
//   }
// }
//
