<template>
  <div>
    <b-card no-body class="overflow-hidden" style="max-width: 850px; margin-left:350px; margin-top:100px;" >
      <b-row no-gutters>
        <b-col md="6">
          <b-card-img src="https://picsum.photos/400/400/?image=20" alt="Image" class="rounded-0"></b-card-img>
        </b-col>
        <b-col md="6">
          <b-card-body title="Register" >
            <form id="signup" v-on:submit.prevent="submit">
              <div class="row">
              <div class="col-12 form-group">
              <!-- <label>Full Name<span class="text-danger">*</span></label> -->
              <input type="text" placeholder="Enter the Name" class="form-control" v-model.trim="$v.fullName.$model" :class="{'is-invalid':validationStatus($v.fullName)}">
              <span v-if="!$v.fullName.required" class="invalid-feedback"> FullName is Required</span>
              <div class="error" v-if="!$v.fullName.minLength">Name must have at least {{$v.fullName.$params.minLength.min}} letters.</div>
            </div>
            <div class="col-12 form-group">
            <!-- <label>Full Name<span class="text-danger">*</span></label> -->
            <input type="email" placeholder="Enter the Email" class="form-control" v-model.trim="$v.email.$model" :class="{'is-invalid':validationStatus($v.email)}">
            <div v-if="!$v.email.required" class="invalid-feedback">Email is Required</div>
            <!-- <div class="error" v-if="!$v.fullName.minLength">Name must have at least {{$v.fullName.$params.minLength.min}} letters.</div> -->
          </div>
          <div class="col-12 form-group">
          <!-- <label>Full Name<span class="text-danger">*</span></label> -->
          <input type="password" placeholder="Enter the Password" class="form-control form" v-model.trim="$v.password.$model" :class="{'is-invalid':validationStatus($v.password)}">
          <div v-if="!$v.password.required" class="invalid-feedback">Password is Required</div>
          <!-- <div class="error" v-if="!$v.fullName.minLength">Name must have at least {{$v.fullName.$params.minLength.min}} letters.</div> -->
        </div>
        <div class="col-12 form-group">
        <!-- <label>Full Name<span class="text-danger">*</span></label> -->
        <input type="password" placeholder="Enter the Confirm-Password" class="form-control" v-model.trim="$v.confirm_password.$model" :class="{'is-invalid':validationStatus($v.confirm_password)}">
        <div v-if="!$v.confirm_password.required" class="invalid-feedback">Confirm password is Required</div>
        <!-- <div class="error" v-if="!$v.fullName.minLength">Name must have at least {{$v.fullName.$params.minLength.min}} letters.</div> -->
      </div>
            <div class="col-12 form-group text-center">
              <button class="btn-primary btn-vue btn-sm col-12">Register</button>
            </div>
          </div>
            </form>
          </b-card-body>
        </b-col>
      </b-row>
    </b-card>
  </div>

</template>



<script>
import { required,minLength} from 'vuelidate/lib/validators'

export default {
  data() {
    return {
      fullName: '',
      email:'',
      password:'',
      confirm_password:''
    }
  },
  validations: {
    fullName: {
      required,
      minLength: minLength(4)
    },
    email: {
      required
    },
    password: {
      required
    },
    confirm_password:{
      required
    }
  },

  methods: {
    validationStatus: function(validation){
      return typeof validation !="undefined" ? validation.$error:false;
    },
    submit: function() {
      this.$v.$touch();
      if(this.$v.$pendding || this.$v.$error) return;
      alert('data submit')
    }
    }
  }
</script>

<style>

</style>
